.gradle
.studio
*.ipr
*.iml
*.iws
build/*
modules/*/build/*
out
test-run
/build/
/.classpath
/.project
deploy/*
modules/core/db/init/hsql/10.create-db.sql
build.gradle
modules/gui/.settings/org.eclipse.jdt.core.prefs
modules/gui/.settings/org.eclipse.jdt.core.prefs
*.prefs
.settings/lineup-remote_debug.launch
gradle/wrapper/gradle-wrapper.jar
*.prefs
*.prefs
*.prefs
modules/web/.settings/org.eclipse.jdt.core.prefs
