<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task">

	<!-- Annotation-based beans -->
	<context:component-scan base-package="eu.crewbase.lineup" />
	<!-- <task:scheduled-tasks scheduler="scheduler">
		<task:scheduled ref="sales_Processor" method="someMethod"
			fixed-rate="60000" />
		<task:scheduled ref="sales_Processor" method="someOtherMethod"
			cron="0 0 1 * * MON-FRI" />
	</task:scheduled-tasks> -->
</beans>
