<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="lineup"
                      transaction-type="RESOURCE_LOCAL">
        <class>eu.crewbase.lineup.entity.coredata.StandardClientEntity</class>
        <class>eu.crewbase.lineup.entity.coredata.OffshoreUser</class>
        <class>eu.crewbase.lineup.entity.coredata.AppUser</class>
        <class>eu.crewbase.lineup.entity.coredata.Company</class>
        <class>eu.crewbase.lineup.entity.Transfer</class>
        <class>eu.crewbase.lineup.entity.CrewChange</class>
        <class>eu.crewbase.lineup.entity.coredata.Site</class>
        <class>eu.crewbase.lineup.entity.Waypoint</class>
        <class>eu.crewbase.lineup.entity.coredata.CraftType</class>
        <class>eu.crewbase.lineup.entity.coredata.Payload</class>
        <class>eu.crewbase.lineup.entity.period.ShiftPeriod</class>
        <class>eu.crewbase.lineup.entity.coredata.ModeOfTransfer</class>
        <class>eu.crewbase.lineup.entity.coredata.SiteType</class>
        <class>eu.crewbase.lineup.entity.period.MaintenanceCampaign</class>
        <class>eu.crewbase.lineup.entity.period.Period</class>
        <class>eu.crewbase.lineup.entity.UserPreference</class>
        <class>eu.crewbase.lineup.entity.period.PeriodType</class>
        <class>eu.crewbase.lineup.entity.coredata.FunctionCategory</class>
        <class>eu.crewbase.lineup.entity.coredata.Department</class>
        <class>eu.crewbase.lineup.entity.batchimport.PeriodImportStage</class>
        <class>eu.crewbase.lineup.entity.cap.coredata.QualificationType</class>
        <class>eu.crewbase.lineup.entity.cap.coredata.Role</class>
        <class>eu.crewbase.lineup.entity.cap.coredata.Jobfunction</class>
        <class>eu.crewbase.lineup.entity.cap.Certificate</class>
        <class>eu.crewbase.lineup.entity.batchimport.UserImportStage</class>
        <class>eu.crewbase.lineup.entity.period.PeriodTemplate</class>
        <class>eu.crewbase.lineup.entity.cap.coredata.RoleQualificationType</class>
        <class>eu.crewbase.lineup.entity.coredata.SiteCategory</class>
        <class>eu.crewbase.lineup.entity.coredata.SiteRoleRule</class>
        <class>eu.crewbase.lineup.entity.coredata.NumberRangeRule</class>
        <class>eu.crewbase.lineup.entity.period.SitePeriod</class>
        <class>eu.crewbase.lineup.entity.period.OperationPeriod</class>
        <class>eu.crewbase.lineup.entity.period.AttendencePeriod</class>
        <class>eu.crewbase.lineup.entity.period.AbsencePeriod</class>
        <class>eu.crewbase.lineup.entity.period.OutagePeriod</class>
        <class>eu.crewbase.lineup.entity.tmp.FirstClass</class>
        <class>eu.crewbase.lineup.entity.tmp.SecondClass</class>
        <class>eu.crewbase.lineup.entity.tmp.ThirdClass</class>
    </persistence-unit>
</persistence>
