/* Override global theme constants or define new ones here */

$v-error-indicator-color: #dddddd;

$v-show-required-indicators: true;

$v-error-indicator-level-error-color: #dddddd;

//$cuba-menubar-background-color: #00a6ed;

//$cuba-sidemenu-background-color: #00a6ed;

//$v-focus-color: #3c2fce; der button wird fb-blau...

$cuba-sidemenu-background-color: #F7F7F7; //Google grau